html {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.search {
  display: flex;
  justify-content: center;
}

.top {
  display: flex;
  align-items: center;
  margin-top: 250px;
  flex-direction: column;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  left: 450px; 
  width: 55%;
}

.description,
.feels,
.temp-minmax {
  display: flex;
  justify-content: center;
}

@media (orientation: portrait) {
  .bottom{
    left: 0px;
    width: 100%
  }
}

@media (max-width: 1500px) {
  .bottom{
    left: 0px;
    width: 100%
  }
}